<div class="page-content">
  <h3>Create process</h3>
  <mat-vertical-stepper linear>
    <mat-step label="Select template" [completed]="selectedScenario !== null">
      <div class="scenarios-container">
        <mat-list>
          <mat-list-item *ngFor="let scenario of scenarios$ | async" (click)="activateScenario(scenario)" [ngClass]="{active: scenario === selectedScenario}">
            <h4 mat-line>{{scenario.name}}</h4>
            <p mat-line>{{scenario.description}}</p>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="step-buttons">
        <button mat-raised-button color="primary" matStepperNext [disabled]="!selectedScenario">Select</button>
        <button mat-button color="primary" (click)="cancel()">Cancel</button>
      </div>
    </mat-step>
    <!-- <mat-step label="Fill initial values">
      <div class="step-content">
        <div class="first-action">
          <lc-form *ngIf="formMetadata" [metadata]="formMetadata" (valueChange)="formChanges($event)" #form="lcForm"></lc-form>
        </div>
      </div>
      <div class="step-buttons">
        <button mat-raised-button color="primary" (click)="createProcess()">Create</button>
      </div>
    </mat-step> -->
    <mat-step label="Check liability">
      <div class="check-form">
        <form #form="ngForm">
          <mat-form-field>
            <input type="text" matInput placeholder="Name of other user" required ngModel #name="ngModel" name="name">
          </mat-form-field>
          <mat-form-field>
            <input type="email" matInput placeholder="Email of other user" required ngModel #email="ngModel" name="email">
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Address to check" required ngModel #address="ngModel" name="address">
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Address to check against" required ngModel #against="ngModel" name="against">
          </mat-form-field>
        </form>
        <div class="actions">
          <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="checkLiability(address.value, against.value)">Check</button>
        </div>
      </div>
      <div class="liability">
        <mat-list [@listAnimation]="certificates.length">
          <mat-list-item *ngFor="let certificate of certificates">
            <mat-icon mat-list-icon class="success" [ngClass]="{success: certificate.valid, fail: !certificate.valid}">{{certificate.valid ? 'check_circle' : 'cancel'}}</mat-icon>
            <h4 mat-line>{{certificate.address}}</h4>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>