<div class="wrapper mat-elevation-z1">
  <div class="header">
    <div class="search-container">
      <mat-icon>search</mat-icon>
      <input placeholder="Search" #quickSearchInput>
    </div>
    <div class="buttons">
      <a mat-raised-button color="primary" routerLink="create">Create</a>
    </div>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="processes$ | async as processes; else loading">
    <ng-container *ngIf="processes.length; else noProcesses">
      <mat-table [dataSource]="processes">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
          <mat-cell *matCellDef="let process">{{process.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let process">
            {{process.name}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let process; columns: displayedColumns" [routerLink]="['details', process.id]"></mat-row>
      </mat-table>
    </ng-container>

  </ng-container>

</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-template #noProcesses>
  <div class="no-processes-placehodler">
    You have no processes
  </div>
</ng-template>