@import './current-state.component.scss-theme';

.instructions {
  border-top: 1px solid #ebebeb;
  padding-top: 10px;

  h2 {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
