@import '~@angular/material/theming';

@mixin current-state-component-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get(
    $theme,
    accent
  ); // Use mat-color to extract individual colors from a palette as necessary.

  lc-current-state {
    .header {
      background: mat-color($primary);
      color: mat-color($primary, default-contrast);
      font-weight: 100;
    }
  }
}
